
.icon-column-padding {
	padding-top: 50px;
}
.img-preview-remove {
	position: absolute;
	top: 0;
	right: -100px;
	width: 140px;
	z-index: 1;
	color: white;
	margin: 0;
	padding: 5px;
}
.img-preview-remove a {color: white;}
.img-preview-overlay {
	position: absolute;
	height: 140px;
	width: 140px;
	top: 0;
	color: #C5C5C5;
	margin: 0;
	padding: 5px;
	background: white;
	opacity: .6;
}

.border-left {
	border-left: 1px solid #eee;
}
.border-right {
	border-right: 1px solid #eee;
}

.thumbnail.small {
	height: 75px;
	max-width: 100%;
	box-sizing: border-box;
}
#img-preview-exists {
	margin: 0;
	padding: 0;
	
}

.img-min-preview {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;

}
.img-min-preview img {
	width: 200px;
}
.img-min-preview a {
	position: absolute;
	top: 0;
	right: 2px;
	color: white;
}

body {
	font: 10.5pt 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.625;
	color: #373737;
	letter-spacing: 0em;
	word-spacing: 0.078em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	color: #000;
	letter-spacing: 0em;
	word-spacing: 0.084em;
	line-height: 1.2;
}
h1 {
	font-size: 18pt;
}
h2 {
	font-size: 16pt;
}
h3 {
	text-transform: uppercase;
	font-size: 14pt;
}
h4 {
	font-size: 12pt;
}
h5 {
	font-size: 10pt;
}
h6 {
	font-size: 8pt;
}

