.thumbnail.small {
	height: 75px;
	max-width: 100%;
	box-sizing: border-box;
}
#img-preview-exists {
	margin: 0;
	padding: 0;
	
}

.img-min-preview {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;

}
.img-min-preview img {
width: 100px;
}