.thumbnail.small {
	height: 75px;
	max-width: 100%;
	box-sizing: border-box;
}
#img-preview-exists {
	margin: 0;
	padding: 0;
	
}

.img-min-preview {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	position: relative;

}
.img-min-preview img {
	width: 200px;
}
.img-min-preview a {
	position: absolute;
	top: 0;
	right: 2px;
	color: white;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: Monaco, "Lucida Console", "Courier New", monospace;*/
}